 body{
	margin: 0px;
}
.pgheading{
	background-color: black;
	text-align: center;
	height: 200px;

}
.bf a{
	text-decoration: none;
	color: white;
}
.bf a:hover{
	text-decoration: underline;
	
}
.pgheading p{
	padding: auto;
	font-weight: bold;
	font-size: 60px;
	color: white;
	font-family: Poppins,'MS Sans Serif', Geneva, sans-serif;
	padding-top: 65px;
	letter-spacing: 3px;

}
/*.top{
	color:white;
	height: 50px;
	position: relative;
	background-color: #0D214E;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.top p{
	font-size: 50px; 
	display: inline;

}*/

.list li{
	float: left;
	padding: 20px 10px 20px 20px;
	margin-left: 100px;
	height: 300px;
	width: 300px;

}
.list ul{

	list-style-type: none;
	display: inline;
}
.list p{
	text-align: center;
}
.list a{
	text-decoration: none;
	color: black;
}
img{
	height: 300px; 
	width: 300px;
}
.btmnavbar{
	display: inline-block;
}
.btmnavbar ul{
	list-style-type: none;
	padding-left: 630px;
	padding-bottom: 30px;
}
.btmnavbar a{
	text-decoration: none;
	color: black;
}
.btmnavbar li{
	float: left;
	padding: 10px;
	font-weight: bold;
	font-family: sans-serif;
}
.btmnavbar li:hover{
	background-color: red;
	color: white;
}
.btmnavbar a:hover{
	color: white;
}
.bf{
	background-color: black;
	height: 100%;
	width: 100%;
	display: inline-block;
}
.two{
	float: left;
	list-style: none;
	padding-left: 70px;
  	font-size: 15px;
   color:white;
  }
.one{
	font-size: 25px;
	padding-bottom: 5px
}
li{
	padding-top: 8px;
}